## Ignore Visual Studio temporary files and build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/
*.user

## Ignore migrations and database related files
Migrations/
*.db
*.db-shm
*.db-wal

## Ignore logs
Logs/

## Ignore chat bot token file
token.txt
